name = "username/__PROJECT_NAME__"

version = "0.1.0"

license = "Apache-2.0"

preferred_target = "js"

import {
  "mizchi/kagura_engine@0.2.0",
  "mizchi/kagura_core@0.2.0",
  "mizchi/renderer2d@0.2.0",
  "mizchi/gfx@0.1.0",
  "mizchi/web_runtime_hooks@0.1.0",
}
