import {
  "mizchi/kagura_core" @core,
  "mizchi/kagura_engine" @engine,
  "mizchi/renderer2d",
  "mizchi/gfx",
  "mizchi/web_runtime_hooks" @web_hooks,
}

supported_targets = "js"

pkgtype(kind: "executable")
